@import "tailwindcss";

:root {
  --background: #eef6ff;
  --foreground: #1b1f1e;
  --foreground-muted: #616a68;
  --primary: #9cb7b9;
  --primary-muted: #e1e9ea;
  --accent: #e65b9a;
  --accent-muted: #e786b2;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-foreground-muted: var(--foreground-muted);
  --color-primary: var(--primary);
  --color-primary-muted: var(--primary-muted);
  --color-accent: var(--accent);
  --color-accent-muted: var(--accent-muted);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
